{% extends 'base.html' %}

{% block content %}


<h1 class="text-center mt-3">Load information</h1>
<div class="container">
    <div class="row">
        <!-- boostrap screen is 12, md-8 will take 8 space, and md-4 will use the rest -->
        <div class="col-md-8">
            <h2>{{load.price}} </h2>
            <img src="{{load.image.url}}" alt="load-logo" style="max-width: 800px;">
            <h3>{{load.title}}</h3>
            <p class="mb-5 mt-3">{{load.desc}}</p>
        </div>
        <div class="col-md-4 text-center mt-1">
            <h1>Other loads</h1>
        </div>
    </div>

</div>






{% endblock %}