{% extends 'base.html' %}


{% load static %}

{% block content %}
<h1 class="text-center mt-3">Load information</h1>
<div class="container">
    <div class="row">
        <!-- boostrap screen is 12, md-8 will take 8 space, and md-4 will use the rest -->
        <div class="col-md-8">
            <h2>{{load.price}} </h2>
            <img src="{{load.image.url}}" alt="load-logo" style="max-width: 800px;">
            <h3>{{load.title}}</h3>
            <p class="mb-5 mt-3">{{load.desc}}</p>
        </div>
        <div class="col-md-4 text-center mt-1">
            <h1>Related loads</h1>
            <div class="row">
                {% for lds in lir %}
                <!-- To prevent loads repetition -->



                {% if lds.id != load.id %}
                <div class="col-md-7 mb-2">
                    {% if lds.image != "http://default" %}
                    <a href="{% url 'detail' lds.id %}"><img src="{{ lds.image.url }}" alt="logo load image"
                            style="max-width: 180px;" /></a>
                    {% else %}
                    <a href="{% url 'detail' lds.id %}"> <img src="{% static 'img/logo1.jpg'  %}" alt="logo load image"
                            style="max-width: 180px;" /></a>
                    {% endif %}

                </div>



























                <div class="col-5">
                    <a href="{% url 'detail' lds.id %}"><strong> {{lds.title |truncatewords:2}}} </strong> <br></a>
                    <strong><em>{{lds.price}}</em> <br></strong>
                    {{lds.desc |truncatewords:6}}
                </div>
                {% endif %}
                {% endfor %}
            </div>




        </div>
    </div>

</div>

{% endblock %}