[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
django-heroku = "*"
psycopg2 = "*"
psycopg2-binary = "*"
whitenoise = "*"
dj-database-url = "*"
twilio = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
