<!-- {% extends 'base.html' %}


{% block title %} Connexion of blog {% endblock %}

{% block content %}


<div class="container">
    <div class="col-md-12 mt-5">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger text-center">
            <strong>{{message}}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <form action="" method="POST"> {% csrf_token %}
            <div class="card">
                <div class="card-header text-center"><i class="fas fa-user"> My account</i></div>
                <div class="card-body">
                    <input type="text" placeholder="type your name" name="username" class="form-control mb-2" required>
                    <input type="password" placeholder="Password" name="pwd" class="form-control" required>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block">Sign in</button>
                </div>
            </div>

        </form>


    </div>

</div>

{% endblock %} -->